body{
    background-color: #222;
    color: #fff;
}

#formulario-pergunta{
    margin-top: 5vh;
}

.tituloPergunta{
    text-align: center;
}

.label-corpo{
    font-weight: bold;
    font-size: 20px;
}